@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
body {
  font-family: "Mulish", sans-serif;

  background-image: url(./bg-intro-desktop.png);
  background-color: rgb(248, 135, 135);
}

.wholePage {
  display: grid;
  grid-template-columns: repeat(25, 50px);
  grid-template-rows: repeat(18, 50px);
  height: 80vh;
}
.leftSide {
  grid-row: 5/10;
  grid-column: 3/13;
  color: white;
}
.leftSide > h1 {
  font-size: 55px;
}
.rightSide {
  grid-row: 3/15;
  grid-column: 15/25;
  display: grid;
  grid-template-columns: repeat(25, 50px);
  grid-template-rows: repeat(18, 50px);
}
.purpleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  grid-row: 2/3;
  grid-column: 2/9;
  margin-bottom: 10px;
  background-color: purple;
  border-radius: 5px;
}
.userForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 3/13;
  grid-column: 2/9;
  background-color: white;
  padding-left: 28px;
  padding-top: 15px;
  border-radius: 5px;
}

input {
  width: 280px;
  height: 35px;
  border-radius: 5px;
  border-width: 0.8px;
  margin-bottom: 50px;
  position: relative;
}

input:focus {
  border-color: rgb(7, 110, 179);
}
.errorMessage {
  color: red;
  font-size: 15px;
  max-height: 5px;
  display: flex;
  margin-top: -30px;
  align-items: center;
  position: absolute;
  top: 10;
  right: 1;
}
button {
  width: 280px;
  height: 35px;
  background-color: rgb(66, 172, 89);
  color: white;
  border: none;
  border-radius: 5px;
}
.terms {
  font-size: 9px;
  margin-left: -35px;
  margin-top: 15px;
}
.terms > p > a {
  color: red;
  text-decoration: none;
}
.attribution {
  text-align: center;
  margin-top: 90px;
}
@media (max-width: 425px) {
  .wholePage {
    display: flex;
    flex-direction: column;
  }
  .leftSide,
  .leftSide > p {
    text-align: center;
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .attribution {
    margin-bottom: 276px;
    position: relative;
    top: 215px;
  }
  .userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 3/13;
    grid-column: 2/9;
    background-color: white;
    padding-left: 34px;
    padding-top: 24px;
    width: 323px;
    height: 470px;
    border-radius: 5px;
  }
  .purpleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    grid-row: 2/3;
    grid-column: 2/9;
    margin-bottom: 27px;
    height: 19px;
    padding: 14px;
    background-color: purple;
    border-radius: 5px;
  }
}
